* {
  margin: 0;
  box-sizing: border-box;
}

.page {
  background: url(../assets/fondo.webp);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page2 {
  background: url(../assets/fondo.webp);
  height: 92.2vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icono {
  height: 80vh;
  width: 50%;
}

.icono-perfil {
  height: 25%;
  width: 32%;
  border-radius: 100%;
  border: white solid 5px;
  background-color: white;
}

.icono-form {
  height: 45vh;
  width: 60%;
}

.icono-google {
  width: 65px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1em;
  margin-bottom: 1em;
}

.contenedor,
.contenedorRegister {
  background-color: black;
  opacity: 0.95;
  width: 35%;
  height: 50em;
  position: relative;
  box-shadow: 0 0.188em 1.55em rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contenedorEmail,
.contenedorPassword,
.contenedorConfirmPassword {
  width: 100%;
  margin-left: 8rem;
}

.alt-login {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.alt-login2 {
  width: auto;
  height: auto;
  display: flex;
}

.alt-verify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.input,
.email,
.contraseña {
  border: none;
  background-color: white;
  height: 2.3em;
  width: 80%;
  border-radius: 2em;
  text-align: start;
  font-size: 25px;
  padding-left: 1.2em;
  margin-bottom: 0.3em;
}

input:focus {
  outline-color: rgb (32, 177, 255);
}

.login-btn {
  height: 2.2em;
  width: 80%;
  border-radius: 2em;
  background-color: rgb(0, 60, 255);
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 1em;
}
.login-btn:hover {
  color: white;
}

.titulo {
  color: white;
  font-size: 25px;
}

.titulo2 {
  color: rgb(0, 60, 255);
  font-size: 25px;
  font-weight: 700;
  padding-left: 1em;
  text-decoration: none;
}
.pregunta {
  color: white;
}

.textoIniciar {
  font-size: 22px;
  font-weight: bold;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.textoIniciar:hover {
  color: white;
}
